@font-face {
  font-family: 'Filthy';
  src: url('FilthyBassline-JlJo.ttf') format('truetype');
}


body{
    background: #1D1D1D;
    cursor:none;
     max-width: 100%;
    

}

html { overflow-x:hidden; }


#content{
   
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height:100%;
    
   
   
  }

.header-h1-mobile{
  
}

#logo{
  width: 160px;
  background-color: black;
  margin-bottom:50px;
  padding-bottom:10px;

}

#logo img{
  padding-top:10px;

}
.mart{
  position:relative;
  z-index:99;
  display: inline; 
   font-size: min(max(64px), 6vw);
  padding:0px; 
  margin-left:10px;
  margin-right:-7px;
  color:white;
transition: 0.5s;
color:#1d1d1d;
text-shadow: 0px 0px 0 rgb(248,248,248),
                 -1px 1px 0 rgb(241,241,241),
                 -2px 2px 0 rgb(234,234,234),
                 -3px 3px 0 rgb(227,227,227),
                 -4px 4px 0 rgb(220,220,220),
                 -5px 5px 0 rgb(212,212,212),
                 -6px 6px 0 rgb(205,205,205),
                 -7px 7px 0 rgb(198,198,198),
                 -8px 8px 0 rgb(191,191,191),
                 -9px 9px 0 rgb(184,184,184),
                 -10px 10px  0 rgb(177,177,177),
                 -11px 11px 10px rgba(0,0,0,0.39),
                 -11px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2);

}

.mart2{
  position:relative;
  z-index:99;
  display: inline; 
  transition: 0.5s;
  font-weight:bolder;
}

.mart2:hover{
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
}

.mart:hover{
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
}



@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
    color:;
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.button1-old{
  position:relative;
  z-index:999;
 font-size:min(max(22px),5vw);
   background-color: rgba(0, 0, 0, 0.0);;
  color: #3EFF15;
  border: 1px solid #3EFF15; /* Green */
    transition-duration: 0.4s;
}

.button1{
  position:relative;
  z-index:99;
  color:white;
  border-radius:10px;
  width:30%;
  height:15%;
  font-size:min(max(22px),5vw);
  background-color:#1d1d1d;
  border:none;
}




.button2{
  position:relative;
  z-index:999;
  font-size:min(max(22px),5vw);
  border-radius:10px;
  background-color:#1d1d1d;
    margin-left:10%;
    border:none;
    color:white;
    width:20%;
    height:20%;
}

.button1-old:hover {
  background-color: #BE00FE; /* Green */
  color: white;
}



#logo div {
 
  color:white;
   font-size:min(max(22px),5vw);
  font-family: Filthy;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {padding-top: 15px;}
  #sidenav a {font-size: 18px;}
}

/* The sidebar menu */
#sidenav {
  cursor:auto;
  font-family:sans-serif;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #181818; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  text-align:center;
  z-index:1;
  border-radius:10px;

}

.footer-links{
  
  position:absolute;
  margin-left:60%;
  margin-top:-60px;
  text-align:center;
  display:inline-block;
  z-index:9999999;
  
}

.footer-links img{
  padding-right:200px;
}

/* The navigation menu links */
#sidenav a {

  padding-top:40px;
  text-align:center;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  

}


#sidenav a:hover {
  color: #3EFF15;


}
.side-links{
  display:block;
}

.svg{
  fill: #94d31b; 
  
  padding-top:30px;
  
  width:30px;
  height:30px;
  filter:invert(100%);
}

.svg:hover{
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(260deg) brightness(104%) contrast(97%);
}





.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: rgba(62, 255, 21, 0.7);
    
  }

#nokey{
    position:absolute;
    
    
}
#myCanvasContainer{
       position: relative;
   
    display: flex;
    
    align-items: center;
    
    justify-content: center;




}

#skills-chart{
  
width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
}

#myCanvas{
  margin:auto;
    width:100%;


    
}

#blurb{
  padding-top:10%;
  padding-left:10%;
  padding-bottom:10%;
  width: 60%;
 


}

.neumorphic-shadows {
  -webkit-box-shadow: 3px 3px 6px #0c0c0c, -3px -3px 6px rgb(62,255,21,0.3);
        box-shadow: 3px 3px 6px #0c0c0c, -3px -3px 6px rgb(62,255,21,0.3);
}

.neumorphic-shadows-purple {
  -webkit-box-shadow: 3px 3px 6px #0c0c0c, -3px -3px 6px rgb(106, 13, 173,0.5);
        box-shadow: 3px 3px 6px #0c0c0c, -3px -3px 6px rgb(106, 13, 173,0.5);
}


  
  .neumorphic-shadows-purple-hover:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(106, 13, 173,0.5);
        box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(106, 13, 173,0.5);
}

  .neumorphic-shadows-hover:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(62,255,21,0.3);
        box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(62,255,21,0.3);
}

.neumorphic-shadows-inset{
  -webkit-box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(62,255,21,0.3);
        box-shadow: inset 2px 2px 5px #0c0c0c, inset -3px -3px 7px rgb(62,255,21,0.3);
}

#blurb h1{
  display: inline-block;
  font-size: min(max(48px), 7vw);
  position:relative;
  z-index: 99;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

#blurb h1, h3 {
  color: #f5f5f5;
  font-family: sans-serif;

}

#blurb p{
  
  color:#8d8d8d; 
  font-family:sans-serif; 
  font-size:min(max(22px),5vw);
  
}

#blurb h1:hover{
  animation-name: rubberBand;
}

a{
  color:#87cefa;
}

a:hover{
  color:#9B30FF;
}



.dropdown {
  vertical-align:bottom;
    padding-top: 30px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  margin-top:10px;
  margin-left:10px;
  
    height: 5%;
    max-height:8px;
   color:black;
    background-image: url('../images/hamburger.png');
    background-size:cover;
    background-color: transparent;
    min-width:45px;
    
  z-index:999;
  
  display:none;
  
  
  
  
}

.dropdown .dropbtn {

  float:right;
    font-size:min(max(22px),5vw);
    border: none;
    outline: none;
    color: white;
   
    font-family: inherit;
    z-index:999;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
    background-color: transparent;
    font-weight: bolder;
  
}


.dropdown-content {
    display: none;
    background-color:#181818;
    min-width: 100px;
    
    z-index: 9999;
  font-family: 'Do Hyeon', sans-serif;
  font-size:min(max(20px),2.75vw);
  
  overflow:visible;
  position:absolute;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
  color:black;
}


.dropdown:hover .dropdown-content {
  display: block;
  z-index:999;
}

.dropdown:hover .dropbtn {
  display:none;
}


.header-h1{
  font-size: min(max(32px), 5.5vw);
  font-family: Filthy;
  padding-left:10%;
  color:#3EFF15;
   position:relative;
  z-index: 99;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.header-h1:hover{
   animation-name: rubberBand;

}

#projects{
  font-family:sans-serif;
  padding:20px;
  overflow:hidden;
  border-radius:10px;
  color: #f5f5f5;
  margin-left:10%;
  width:80%;

  background-color:#181818;
  animation:animate__rubberBand 3s;

  


}

#projects h1{
font-size: min(max(32px), 5.5vw);
}

#projects h2{
font-size: min(max(22px), 4vw);
}

#projects p{
font-size: min(max(18px), 3.5vw);
}

#projects ul li{
  font-size: min(max(18px), 3.5vw);
}

#projects-small h1{
font-size: min(max(32px), 5.5vw);
}

#projects-small h2{
font-size: min(max(22px), 4vw);
}

#projects-small p{
font-size: min(max(18px), 3.5vw);
}

#projects-small ul li{
  font-size: min(max(16px), 3vw);
}


#projects a{
  position:relative;
  z-index:999;
}


#projects-small{
  font-family:sans-serif;
  padding:20px;
  overflow:hidden;

  color: #f5f5f5;
  margin-left:10%;
  width:30%;
  min-height:1725px;
  background-color:#181818;
  border-radius:10px;
  
  float:left;
  margin-bottom:10%;


}

#projects-small a{
  position:relative;
  z-index:999;
}


.row-left-s{
  text-align:center;
  float:none;
  width:90%;
  margin:0 auto;

}



.row-right-s{
  float:none;
  width:90%;
  padding-top:5%;
  line-height:26px;
  margin:0 auto;

}





  .row-right-s h1{
    text-align:center;
  }


.contactme .column {
  float: left;
  width: 40%;
  margin-top: 6px;
  padding: 20px;
  text-align:center;
}

.contactme .column2 {
  float: right;
  width: 50%;
  text-align:center;
 
  


 
}

.contactme .row:after {
  content: "";
  display: table;
  clear: both;
}

.contactme {
margin-top:50px;
margin-left:20px;
margin-right:20px;
margin-bottom:10%;

}

.row .column2 img {
  margin:50px auto;
    width: 50%;
    height: 50%;
}

form{
  position:relative;
  z-index:9999;
}

label{
 font-size:min(max(22px),5vw);
color: #f5f5f5;
font-family:sans-serif;

}


input[type=text], select, textarea {

  width: 100%;
  padding-top:10px;
  padding-bottom:10px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

input[type=submit] {
  background-color: #0088FF;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width:50%;

}

input[type=submit]:hover {
  background-color: #000000;
}


.contactme{
  border-radius: 10px;
  color:white;
  padding: 10px;
  
}



@media screen and (max-width: 1080px) {

  .contactme .column, .column2, input[type=submit] {
    float:none;
    margin:0 auto;
    width: 80%;
    
    
  }

  input[type=submit] {
    margin-left:0px;
  }

.contactme .column2{
  float:none;
   width: 80%;
    margin:0 auto;
    text-align:center;

}

.row .column2 img {
  margin:50px auto;
    width: 50%;
    height: 50%;
}

}


.flex-container {
  padding-top:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.rect{
  
  width:35%;
  max-width:190px;
  max-height:150px;
 padding:10px;
  margin:10px;
  text-align:center;
   padding-bottom:60px;
   border-radius:10px;
   animation:animate__rubberBand 3s;
}

.rect img{
  height:30%;
  width:30%;
}

.rect h3{
  margin-bottom:5px;
  font-size: min(max(28px), 4.5vw);
}

.rect p{
   margin-top:0px;
   color:white;
   font-size: min(max(18px), 3.5vw);
   font-family:sans-serif;

}

.blog-bar{
  background: #04c2c9;
    height: 3px;
    margin: 10px 0px;
    width: 25%;
}



.rect-blog, .rect-blog1 {
  position:relative;
  z-index:10;
  width:403px;
 
  margin:10px;
  text-align:left;
   padding-bottom:60px;
}
.rect-blog img, .rect-blog1 img{
  position:relative;
  z-index:10;
  width:403px;
  height:202px;
  transition: all .2s ease-in-out;
}

.rect-blog h3, .rect-blog1 h3{
  margin-bottom:5px;
  font-size: min(max(24px), 4.5vw);
}

.rect-blog p, .rect-blog1 p{
   margin-top:0px;
   color:white;
   font-size: min(max(18px), 3.5vw);
   font-family:sans-serif;
   width:100%;

}
#blog{
  text-align:center;
}

#design-philosophies{
  text-align:center;
}
.rect-blog h3, a, .rect-blog1 h3, a{
  
  text-decoration:none;
}

.rect-blog h3:hover, .rect-blog1 h3:hover{
 color:#9B30FF;
}

.rect-blog img:hover, .rect-blog1 img:hover{
  transform:scale(1.2);
  filter:  saturate(130%);
  z-index:999;

}

.svg2{
  fill: #94d31b; 
  
  
  width:70%;
  height:70%;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(260deg) brightness(104%) contrast(97%);
}




.floating-text{
  font-family:sans-serif;
  color: #818181;
  opacity: 0.05;
  font-size: min(max(250px), 14vw);
  position:absolute;
  z-index:0;
  margin-left:35%;
  margin-top:-10%;
}


.row-left{
  text-align:center;
  float:left;
  width:50%;

}

.row-left-skills{
  text-align:center;
  float:left;
  width:50%;
 margin-bottom:20%;

}




.row-right{
  float:left;
  width:50%;
  padding-top:5%;
  line-height:26px;

}

 .techlist{
 list-style-type: square;
    display: grid;
   
    grid-template-columns: 150px 150px;
    
    padding-bottom:20px;
    text-align:left;
    justify-content:center;


}

.column{
padding-top:10%;
}

#myProgress1, #myProgress2,#myProgress3, #myProgress4, #myProgress5, #myProgress6,#myProgress7,#myProgress8  {
  margin:0 auto;
  width:60%;
 
  clear:both;
  
  
  font-family: 'Do Hyeon', sans-serif;
  font-size:18px;
  ;
}

.skill-text{
  padding-bottom:5px;
}

#myBar1,#myBar2,#myBar3,#myBar4,#myBar5,#myBar6,#myBar7,#myBar8{
  width: 1%;
  height: 20px;
  clear:both;

   background-color:#9B30FF;
   opacity:0.7;
  text-align:right;
  font-weight: bold;
  padding-bottom:5px;
  padding-right:5px;
  font-family: 'Oleo Script', cursive;
  
}


.techlist li{

  display: inline-block;
  margin-left:10px;
  padding:5px;
}

#skills-div{
  display: inline-block;
  padding-top:10%;
 color: #f5f5f5;
 font-family:sans-serif;
 
 padding-left:10%;


}

.skills{
  float:left;
  list-style: none;
   width:50%;
   padding-left:5%;
   
    
    color:#f5f5f5;
    font-family: sans-serif;
}






#footer-front{
  clear:both;
  position:relative;
  height:250px;
  background-color: #181818;
  z-index:2;
  bottom:0;
  width:100%;
  border-radius: 10px;
   
   cursor:auto;



}

#footer-front h1{
  padding-top:20px;
  font-family:sans-serif;
  padding-left:8%;
  color:#f5f5f5;
}



#footer-front div{
  text-align:center;
  color:#f5f5f5;
  font-family:sans-serif;
  padding:0px;
}


.work-exp1, .work-exp2{
  position:relative;
 float:left;
  margin-top:10%;
  padding:10px;
  padding-top:1px;
  
    width:40%;
    min-width:200px;
    height:20%;
    background-color:#181818;
  border-radius:10px;
  height:260px;
  margin-left:20px;
  animation:animate__rubberBand 3s;

}

#skills-div .skills .work-exp1 h2,h3{
font-size:min(max(22px),5vw);
}

#skills-div .skills .work-exp2 h2,h3{
  font-size:min(max(22px),5vw);
}




.work-exp2{
 
margin-left:40px;
margin-bottom:10%;

}


.skills-left{
  float:left;
  width:40%;
  margin-bottom:10%;
}
#skills-div .skills-left p{
  line-height:40px;
  font-size:min(max(22px),4vw);
  width:90%;
}

.skills li{
    margin: 20px 0;
font-family: sans-serif;
color:#f5f5f5;


}

.header-h3{

  padding-left:10%; 
  text-align:left; 
  width:60%; 
  padding-top:10px; 
  line-height:28px
}

.bar{
    background: #353b48;
    display:block;
    height:2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;

}

.bar span{
    height:2px;
    float:left;
    background: #BE00FE;
}



@media (prefers-reduced-motion: no-preference) {
  .html-animation {
      width:80%;
    animation: html 2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .css-animation {
     width:90%;
     animation: css 2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .jquery-animation {
     width:75%;
     animation: jquery 2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .javascript-animation {
      width:85%;
     animation: javascript 2s;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rubberBand {
      
     animation: rubberBand 2s;
  }
}





@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes jquery{
    0%{
        width:0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width: 85%;
    }
}

.iframe-container {
  margin:0 auto;
  position: relative;
  overflow: hidden;
  width: 90%;
  padding-top: 46.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom:20px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 1907px) {

.rect-blog1{
  margin-right:20%;
  margin-bottom:50px;

}


}


@media only screen and (min-width: 1400px) {

  #projects-small{

  min-height:1550px;
  


}

}


@media only screen and (max-width: 1260px) {



.rect-blog1{
  margin-right:10%;
  margin-bottom:50px;

}


}





@media only screen and (max-width: 1330px) {
    .work-exp2{
      margin-left:20px;
    }


}

@media only screen and (max-width: 1150px) {

  .button2{
  position:relative;
  z-index:999;
  font-size:min(max(22px),5vw);
   background-color: rgba(0, 0, 0, 0.0);;
  
 
    margin-left:12%;
}


  #footer-front h1{
      font-size:min(max(22px),5vw);
  padding-top:20px;
  font-family:sans-serif;
  padding-left:5%;
  color:#f5f5f5;
}



  #sidenav{
    
    display:none;
  }

  .dropdown{
    display:block;
  }

  #content{
    margin:0 auto;
  }

  #projects{
    margin:0 auto;
    
  }

   #skills-div{
    margin:0 auto;
    padding-left:5%;
   }


     #skills-div p{
     font-size:min(max(22px),5vw);
    padding:0;
    margin:0;
    width:100%;
   }

  }


  @media only screen and (max-width: 1080px) {

.footer-links{
  
  position:absolute;
  margin-left:58%;
  margin-top:-60px;
  text-align:center;
  display:inline-block;
  z-index:9999999;
  
}



.rect-blog1{
  margin-right:0%;
  margin-bottom:50px;

}

  #skills-chart{
    position: relative;
    width: 85%;
    margin-left:10%;

  }

  .row-left-skills{
    margin:0 auto;
    float:none;
    width:90%;
  }


  .header-h3{

  padding-left:10%; 
  text-align:left; 
  width:90%; 
  padding-top:10px; 
  line-height:28px
}
    
.skills-left{
  float:none;
  width:100%;
  margin:0 auto;
}

.skills{
  padding:0;
  margin:0;
  float:none;
  width:90%;
}


#projects-small{

  font-family:sans-serif;
  padding:20px;
  overflow:hidden;

  color: #f5f5f5;
  margin-left:10%;
  width:80%;
  min-height:auto;
  background-color:#181818;

 

}
}


    @media only screen and (max-width: 1050px) {

  .row-left{
    margin:0 auto;
    float:none;
    width:90%;
  }

  .row-right{
    margin:0 auto;
    float:none;
     width:90%;

  }

  .row-right h1{
    text-align:center;
  }

  .header-h1{
  
  font-family: Filthy;
  padding-left:10%;
  color:#3EFF15;
}




}

@media only screen and (max-width: 1012px) {

    .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.rect{
  margin-right:10%;
  margin-left:10%;
  margin-bottom:50px;
}




  }


@media only screen and (max-width: 800px) {

.rect{
  margin-right:5%;
  margin-left:0;
  margin-bottom:50px;
}

#blurb{
  padding-top:15%;
  margin: 0 auto;
  padding-left:0px;
   width:90%;
}


.work-exp1, .work-exp2{
  margin:30px auto;
  float:none;
}




  }



@media only screen and (max-width: 600px) {

  .dropdown-content {
    
    margin-top:50%;
  
}


#projects-small{

  font-family:sans-serif;
  padding:20px;
  overflow:hidden;

  color: #f5f5f5;
  margin:5%;
  width:80%;
  
  background-color:#181818;

 

}

  .rect-blog, .rect-blog1{
  text-align:center;
}
  .rect-blog h3, .rect-blog1 h3 {
  margin-left:5%;
}
.rect-blog p, .rect-blog1 p {
  margin-left:5%;

}
.blog-bar{
  margin-left:5%;
}
  .rect-blog img, .rect-blog1 img{

  width:85%;
  height:65%;
}



.rect{
  margin-right:10px;

}

.footer-links{
  
  position:absolute;
  margin-left:50%;
  margin-top:-60px;
  text-align:center;
  display:inline-block;
  z-index:9999999;
  
}







}

@media only screen and (max-width: 500px) {

.header-h1-mobile{
  padding-top:10%;
}

}



@media only screen and (max-width: 400px) {


.header-h1-mobile{
  padding-top:10%;
}


.footer-links{
  
  position:absolute;
  margin-left:40%;
  margin-top:-60px;
  text-align:center;
  display:inline-block;
  z-index:9999999;
  
}
#footer-front img{
  padding-top:30px;
  width:15%;
  height:15%;
}

.rect{
  
  max-height:75px;
}


}